<% include partials/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-9">
            <form action="">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Let us know what you think about them donuts. Or holler at us and tell us some fun things you'd like to see from us.</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>